html{
    font-family: 'Poppins', sans-serif;
}


body{background:  #ffffff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom,  #332952,  #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom,  #ffffff,   #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    width: 70vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.listado-canciones{
    width: 100%;
}
.cancion{
    padding: 1rem 0rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.titulo{
    flex:6;
}
.play, .stop, .descargar{
    flex: 1;
    cursor: pointer;
}